<p>Formulario</p>
<div>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label for="name">Nombre</mat-label>
      <input matInput
        id="name"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="email">Correo Electrónico</mat-label>
      <input matInput
        id="email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="password">Contraseña</mat-label>
      <input matInput
        id="password"
        formControlName="password"
        type="password"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="phone">Teléfono</mat-label>
      <input matInput
        id="phone"
        formControlName="phone"
      />
    </mat-form-field>
    <button mat-flat-button color="accent"
      (click)="submit()"
      [disabled]="formGroup.invalid"
    >
      Enviar
    </button>
  </form>
</div>
